<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<HEAD>

    <TITLE>Start av Brevklient</TITLE>
</HEAD>
<BODY>
<P>
    <APPLET codebase="/brevweb" archive="StartBrevklientApplet.jar" code="StartBrevklientApplet.class" th:height="${height}" th:width="${width}">
        <PARAM NAME="SERVER" th:value="${server}">
        <PARAM NAME="SYSTEMID" th:value="${systemid}">
        <PARAM NAME="TOKEN" th:value="${token}">
        <PARAM NAME="DOKID" th:value="${dokid}">
    </APPLET>
</P>
</BODY>
</HTML>
