<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} %p [%c] - %m%n</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<!--<appender-ref ref="CONSOLE"/>-->
	</root>

	<logger name="no.nav.brevserver" level="INFO"/>

	<logger name="no.nav.brevserver.consumer.joark.handler" level="ERROR"/>

	<logger name="no.nav.brevserver.provider.ws.handler" level="ERROR"/>

	<logger name="no.nav.brevserver.command.XmlLogger" additivity="false" level="DEBUG"/>

	<logger name="no.nav.brevserver.server.common.utility.PerformanceLogger" additivity="false" level="WARN"/>

	<logger name="no.nav.brevserver.service.loggmottak.support.DefaultLoggmottakService" additivity="false" level="WARN"/>
</configuration>